<h1>Edit Post!</h1>

<form action="<%= post_url(@post) %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="title">Title:
    <input type="text" name="post[title]" value="<%= @post.title %>">
  </label>
  <label for="url">URL:
    <input type="text" name="post[url]" value="<%= @post.url %>">
  </label>
  <label for="content">Content:<textarea name="post[content]"><%= @post.content %></textarea></label>
  <input type="hidden" name="post[sub_ids][]" value="">
  <ul>
    <% @subs.each do |sub| %>
      <ul><input type="checkbox"
      value="<%= sub.id %>" 
      name="post[sub_ids][]"
      <%= "checked" if @post.sub_ids.include?(sub.id) %>
      /><%= sub.title %></ul>   
    <% end %>
  </ul>

  <input type="submit" value="Submit">
</form>

